<script>
$(document).on('click', '.get_geo_coords', function(e){
  e.preventDefault();
  if (navigator.geolocation)
    {
      navigator.geolocation.getCurrentPosition(
        function (position) {
          var lat_coord = position.coords.latitude;
          var long_coord = position.coords.longitude;
          $('.lat_field').val(lat_coord);
          $('.long_field').val(long_coord);
        }
      );
    }
  else
    {
      var x=document.getElementById("demo");
      x.innerHTML="Geolocation is not supported by this browser.";
    }
});
</script>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" style="text-align:center; margin-top: 100px;">
        <a class="get_geo_coords btn btn-primary" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:white;">
          Click Here
        </a> to find a group near you!
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body" style="border:1px solid black; border-radius:5px; width:500px; margin:0 auto;">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td>
          <%= form_for @user do |f| %>
            <%= f.hidden_field :name, value: "MSG-Dave" %>
            <%= f.hidden_field :location_id, value: location.id %>
            <%= f.hidden_field :lat, class: "lat_field" %>
            <%= f.hidden_field :long, class: "long_field" %>
            <%= f.submit location.name, class: "create_user btn btn-success", data: { confirm: 'Are you sure?'} %>
          <% end %>
        </td>
        <td><%= location.description %></td>
        <td><%= location.address %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.zip %></td>
      </tr>
    <% end %>
  </tbody>
</table>


      </div>
    </div>
  </div>
</div>



<br>
